#root {
  background-color: #888;
  max-width: 1800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.container {
  background-color: #242424;
  display: flex;
}

.read-the-docs {
  color: #888;
}

h1 {
  height: 60px;
}

.itemsList {
  color: white;
  border: solid;
  border-width: 1px 1px 1px 1px;
  width: 660px;
  height: 850px;
  padding: 0 0 0 0;
  flex: 1;
  margin: 0 0 0 0;
  overflow: scroll;
  overflow-x: hidden;
}

.listOptions {
  display: flex;
}

.option {
  flex: 1;
  height: 60px;
  border: solid;
  border-width: 1px;
  line-height: 60px;
  font-size: 30px;
}

.optionNull {
  border: none;
  flex: 1;
  height: 60px;
}

.option:hover {
  cursor: pointer;
  background-color: #333;
}

.launchDetails {
  color: white;
  border: solid;
  border-width: 1px 1px 1px 0;
  width: 600px;
  height: 850px;
  overflow-y: scroll;
}

ul[class="itemsListUL"] {
  padding: 0;
  margin: 0 0 0 0 ;
}

ol {
  list-style-type: circle;
}

li {
  text-align: left;
}

ul[class="launchDetailsUL"] {
  padding-left: 20px;
}

.singleItem {
  border: solid;
  border-width: 0.5px 0 0.5px 0;
  margin: 0 0 0 0;
  width: 100%;
  display: inline-flex;
  height: 30px;
  font-size: 14px;
}

.left {
  border: none;
  flex: 1 1 auto;
  width: 55%;
  text-align: left;
  margin-left: 15px;
  vertical-align: middle;
}

.center {
  border: none;
  flex: 1 1 auto;
  width: 35%;
  text-align: center;
  vertical-align: middle;
}

.right {
  border: none;
  flex: 1 1 auto;
  width: 10%;
  text-align: right;
  margin-right: 15px;
  vertical-align: middle;
}

.singleItem {
  border: solid;
  border-width: 0.5px 0 0.5px 0;
  margin: 0 0 0 0;
  width: 100%;
  display: inline-flex;
  height: 30px;
  font-size: 14px;
}

.favoriteSingleItem {
  border: solid;
  border-width: 0.5px 0 0.5px 0;
  margin: 0 0 0 0;
  width: 100%;
  display: inline-flex;
  height: 30px;
  font-size: 14px;
  background-color: #6d6d44;
}

.selected {
  background-color: #555 !important;
}

.selectedFavorite {
  background-color: #996 !important;
}

.favorite:hover {
  background-color: #663; 
}

.singleItem:hover {
  cursor: pointer;
  background-color: #333;
}
